    <!-- <div class="d-flex flex-column flex-md-row align-items-center justify-content-between p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm fixed-top">
        <img src="/assets/images/logo.png" style="max-height: 70px;" alt="logo">
        <nav class="my-2 my-md-0 mr-md-3 text-uppercase" style="font-size: larger;">
            <a class="p-2 text-dark text-decoration-none" href="#">Home</a>
            <a class="p-2 text-dark text-decoration-none" href="#">Shop</a>
            <a class="p-2 text-dark text-decoration-none" href="#">Contact</a>
        </nav>
        <div class="d-flex align-items-center">
            <a class="position-relative px-5">
                <i class="fa fa-shopping-cart fa-2x text-dark"></i>
                <div class="cart-no">5</div>
            </a>
            <a class="btn btn-outline-primary mr-2 login-btn">Login</a>
            <a class="btn btn-outline-primary mr-3 sign-up-btn">Sign up</a>
        </div>
    </div> -->

    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top border-bottom shadow-sm">
        <div class="container-fluid">
                <div class="collapse navbar-collapse d-flex nav-container" id="navbarSupportedContent">
                    <img src="/assets/images/logo.png" style="max-height: 70px;" alt="logo">
                        <ul class="navbar-nav mb-2 mb-lg-0">
                            <li class="nav-item">
                              <a class="nav-link" href="#">Home</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" href="#">Shop</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" href="#">Contact</a>
                            </li>
                          </ul>
                        <form class="d-flex">
                            <button class="btn btn-outline-primary login-btn" type="submit">Login</button>
                            <button class="btn btn-outline-primary" type="submit">Sign up</button>
                          </form>
                </div>
        </div>
      </nav>
