.cart-no {
    position:absolute;
    min-height: 25px;
    min-width: 25px;
    border-radius: 50%;
    font-size: 1em;
    background: blue;
    color: white;
    text-align: center;
    top: -12px;
    right: 25px;
}

.login-btn {
    margin-right: 3px;
}

a {
    &:hover{
        text-decoration: underline !important;
    }
}

.nav-container {
    justify-content: space-around;
    flex-basis: auto;   
}